@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "_normalize";
@import "_globals";

.bird-box {
  position: relative;
  background: url("../img/bird-bg.jpg");
  background-attachment: fixed;
  // background-position: center -400px;
  background-position: top center;
  background-repeat: no-repeat;
  height: 600px;
  background-size: cover;

  overflow: hidden;

  & .logo {
    position: absolute;
    background-image: url("../img/black-bird-logo.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    margin-top: -50px;
    height: 100px;
    width: 100%;
  }

  .fore-bird {
    position: absolute;
    background-image: url("../img/fore-bird.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    left: 50%;
    margin-left: -480px;
    top: 380px;
    width: 960px;
    height: 733px;
    // background-color: transparentize(pink, 0.6);
  }

  .back-bird {
    position: absolute;
    background-image: url('../img/back-bird.png');
    left: 50%;
    margin-left: -480px;
    background-repeat: no-repeat;
    background-position: top left;
    width: 960px;
    height: 298px;

  }
}